@{
    ViewBag.Title = "Enpaia";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<div class="container text-white mt-3 col-lg-6 col-md-8 col-sm-12" style="background-color: #097132">
    <div class="row mb-4 d-flex justify-content-center pt-5">
        <div class="text-center mr-3">
            <img class="mt-3 mb-3" style="border-radius: 2%; width:123px; background-color:white" src="~/Images/Logo-Fondazione-Enpaia.png">

        </div>

        <div class="text-sm-center text-md-left">
            <h2 style="margin-top:50px;">
                <label class="text-white" style="font-family: 'Poppins',sans-serif;">Recupero password</label>
            </h2>

        </div>
    </div>

    <div class="mt-5 d-flex flex-column justify-content-start align-items-center p-5" style="background-color: #097132; height: 400px">
            <h1 class="text-center">Operazione riuscita:</h1>
            <h3 class="text-center">Se il tuo username &egrave; registrato nel sistema, riceverai un'email sul tuo indirizzo di posta elettronica</h3>

        <a href="@Url.Action("Accesso", "Login")" class="btn btn-primary mt-5">Torna alla pagina di accesso</a>
    </div>
</div>