@{
    ViewBag.Title = "Enpaia | Accesso Pratica Registrazione Azienda";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

@section showMessage{
    @{ Html.RenderPartial("PartialViewShowMessages"); }
}

<link href="@Url.Content("~/dist/css/pages/RegistrazioneAzienda.css")" rel="stylesheet" type="text/css"/>

<div class="container pt-3">
    <div class="card" style="background-color: #097132">
        <div class="mb-4 d-flex justify-content-center w-100" style="background-color: #097132">
            <div class="text-center mr-3">
                <img class="mt-3 mb-3" style="border-radius: 2%; width:123px; background-color:white" src="~/Images/Logo-Fondazione-Enpaia.png">
            </div>
            <div class="text-sm-center text-md-left">
                <h2 style="margin-top:50px;">
                    <label class="text-white" style="font-family: 'Poppins',sans-serif;">Accesso Pratica Registrazione Azienda</label>
                </h2>
            </div>
        </div>
    </div>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="datiAzienda" role="tabpanel" aria-labelledby="datiAzienda-Tab">
            <div class="form-group mt-4">
                <div class="p-3 text-black d-flex flex-column justify-content-center align-items-center">
                    @using (Html.BeginForm("ConsultaPraticaRegistrazioneAzienda", "Registrazione", FormMethod.Post, new { @class = "w-100 d-flex justify-content-center flex-column"}))
                    {
                        <div class="form-group">
                            <label for="partitaIva">Partita Iva (o Codice Fiscale):</label>
                            <input required type="text" name="identificativoAzienda" id="partitaIva" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="numProtocollo">Numero Protocollo:</label>
                            <input required type="text" name="numProtocollo" id="numProtocollo" class="form-control"/>
                        </div>
                        <div class="d-flex justify-content-between">
                            @Html.ActionLink("Torna indietro", "IntroduzioneRegistrazioneAzienda", "Registrazione", string.Empty, new { @class = "btn btn-primary" })
                            <button id="consultaPratica" class="btn btn-primary" style="width: 200px; font-size: 18px">Consulta Pratica</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>