<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net>
		<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
			<rollingStyle value="Date"/>
			<datePattern value="'TFI-Log_'ddMMyyyy"/>
			<file type="log4net.Util.PatternString" value="Log\.txt"/>
			<preserveLogFileNameExtension value="true"/>
			<staticLogFileName value="false"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{dd-MM-yyyy HH:mm:ss} [%thread] %level %logger - %message%newline"/>
			</layout>
		</appender>
		<appender name="Track" type="log4net.Appender.RollingFileAppender">
			<file value="Log\"/>
			<datePattern value="'TFI-TrackLog_'dd-MM-yyyy'.txt'"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<appendToFile value="true"/>
			<staticLogFileName value="false"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{dd-MM-yyyy HH:mm:ss} [%thread] %level %logger - %message%newline"/>
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO"/>
				<levelMax value="INFO"/>
			</filter>
		</appender>
		<root>
			<level value="ALL"/>
			<!--<appender-ref ref="RollingFile" />
      <appender-ref ref="Track" />-->
		</root>
		<logger name="RollingFile" additivity="false">
			<level value="ALL"/>
			<appender-ref ref="RollingFile"/>
		</logger>
		<logger name="Track" additivity="false">
			<level value="ALL"/>
			<appender-ref ref="Track"/>
		</logger>
	</log4net>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-TFI-20221005121151.mdf;Initial Catalog=aspnet-TFI-20221005121151;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<!-- <add name="ConnectionString" connectionString="0486AjS8XcZYuf8msPNZgdT34PouRXtYlVP3ELkVdVdnxUBu55t9pX6PFisH7llUMgTa7tve3PiipttSZDeDNesDK6ieUtjGGK89rTVyg20iJ1jjmoSGPmmIACYG182x9NreAfrpoevx/OhaMp7SeUPhWtxUzbx73vp4Aj3E5QzE9MD35B4YYHVwanwGjvUbKRONUo+3VtUGzTHZyLy8PX9+q2zuSLxXic6++GbM6NKW8HQwHYxg+stVSeUS10TgB1JjR26yCOh3I5G5HCPdPHwBq7TWz69jTIvuj4pkowc=" providerName="IBM.Data.DB2.iSeries" /> -->
		<add name="ConnectionString" connectionString="0486AjS8XcZYuf8msPNZgdT34PouRXtYlVP3ELkVdVdnxUBu55t9pX6PFisH7llUMgTa7tve3PiipttSZDeDNTkc4tHz/i5XMHNLoNsK76f/qhgRfJcUTHhBkdhsVEEKS7hg+5fNfh1p/9sv8S7wdJ7hDm3T3gNapxc0t3yG7PayzmE/zTwdwB8OHJbCYvQ0ra69Vvqo9TABXJZ3Y6DD7vcf51ZMOA4bRlaGKX/5ceARFF3CKMiFnja4BbAR1bwTywMALip1hnHaPP/6GDucFcw5wVp9WlcS/1rUeL6/rRU=" providerName="IBM.Data.DB2.iSeries"/>

	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<add key="DayForLog" value="-1"/>
		<!--INSERIRE SOLO VALORI INT NEGATIVI, IN BASE A QUANTI GIORNI BISOGNA TORNARE INDIETRO PER CANCELLARE I LOG-->
		<add key="webpages:Version" value="3.0.0.0"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<add key="TipoMessaggio" value="Toast"/>
		<add key="Login" value="xHAUj0itvVtRY0VEqXJncdTHRjM/rhZJt0qG2OPoyNA="/>
		<add key="Password" value="oBDqzYhoZDCjRL//87fDTXIT0EoY8t0w99pPi82NbRg="/>
		<add key="UserMail" value=""/>
		<add key="PwdMail" value=""/>
		<add key="IndirizzoMail" value=""/>
		<add key="PortaMail" value=""/>
		<add key="TipoAutenticazione" value=""/>
		<add key="TMPCryptoFile" value="TMPCryptoFile"/>
		<add key="ConnProtocollo" value=""/>
		<add key="TMPCryptoFile" value="TMPCryptoFile"/>
		<add key="PeriodiSenzaImporto" value="True"/>
		<add key="Collaudo" value="1"/>
		<add key="EmailAdmin" value="admin@enpaia.it"/>
		<add key="path_modulistica" value="Files/Moduli/"/>
		<add key="path_convenzioni" value="Files/Convenzioni/"/>
		<add key="path_img_convenzioni" value="Images/Convenzioni/"/>
		<add key="path_ricevuteCessazRDL" value="StampePDF/RicevuteCESS/"/>
		<add key="jwt_secret_key" value="5DE62A76-C872-403F-B9DA-6E17EF907F86-7FA92E75-2794-4CF0-B31D-1D569E1DF0B8"/>
		<add key="email_username" value="comunicazioni.istituzionali@enpaia.it"/>
		<add key="email_password" value="Einvio$2023"/>
		<add key="email_host" value="smtp.office365.com"/>
		<add key="email_port" value="587"/>
		<add key="email_ssl" value="true"/>
		<add key="email_user" value="Fondazione Enpaia"/>
		<add key="email_usermail" value="comunicazioni.istituzionali@enpaia.it"/>
		<add key="baseUrl" value="https://localhost:44317/"/>
		<add key="linkOPENKM" value="6mUG7z8DOTMYk6ifnoj1eZvIsxuQNahR51NmMjA2CFM=" />
	</appSettings>
	<!--
    Per una descrizione delle modifiche al file web.config, vedere il sito Web all'indirizzo http://go.microsoft.com/fwlink/?LinkId=235367.

    Gli attributi seguenti possono essere impostati sul tag <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<authentication mode="None"/>
		<compilation debug="true" targetFramework="4.8"/>
		<httpRuntime targetFramework="4.7.2" maxRequestLength="10240"/>
	</system.web>
	<system.webServer>
		<modules>
			<remove name="FormsAuthentication"/>
		</modules>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="10485760" />
			</requestFiltering>
		</security>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.16.0.0" newVersion="2.16.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>
</configuration>
