@{
    Layout = "~/Views/Shared/_AmministrativoLayout.cshtml";
}

<style>
    .btn:hover {
        background-color: #0c773c;
    }
</style>

<title>Enpaia | Estratti Conto</title>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="background: #0c773c;text-align: center;width: 100%;color: white;font-size: 25px">
                        Dati Azienda
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Posizione Azienda</label>
                                    <input type="text" class="form-control" value="243" disabled>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label>Ragione Sociale</label>
                                    <input type="text" class="form-control" value="Azienda Vinicola" disabled>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label>Codice Fiscale</label>
                                    <input type="text" class="form-control" value="NSTMRC94T20H501G" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>